body {
  display: flex;
  flex-direction:column;
  align-items: center;
}
.bg-img {
  background-image: url(
"https://i.ibb.co/CBW4fk7/BDB166-B4-C7-A4-41-A4-A6-DC-C65-F1-DDD391-C.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
form {
  justify-content: center;
  align-content: center;
  padding: 20px 50px;
  border-radius: 5px;
  background: #F5FFFF;
}

input {
  border: none;
  border-radius: 0px;
  background: #F5FFFF;
  border-bottom: 1px black solid;
}

.submit {
  background: red;
  color: black;
  border: none;
  width: 150px;
  height: 25px;
  text-align: center;
  border-radius: 0px;
}
.button {
  background: red;
  color: black;
  border: none;
  width: 150px;
  height: 25px;
  text-align: center;
  border-radius: 0px;
}

::placeholder {
  color: grey;
}

input[type=button] {
  border: none;
  background: #F5FFFF;
  color: blue;
}

.SignInHome {
  background: #000000;
  color: white;
  font-family: Ebrima;
  font-weight: bold;
  font-size: large;
  border-radius: 10px;
  height: 35px;
  width: 100px;
  border: none;
}

.SignUpHome {
  background: #000000;
  color: white;
  font-family: Ebrima;
  font-weight: bold;
  font-size: large;
  border-radius: 10px;
  height: 35px;
  width: 100px;
  border: none;
}
